main {
    width: 99vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;   
    gap: 20px;
    
    list-style: none;
    width: 100%;
    padding-inline-start: 0;
}

h2 {
    text-align: center;
}

li {
    width: 300px;
    border: solid gray 0.5px;
    padding: 20px;
}

.copiedText {
    background-color: #ffe5e5;
}

.loading {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
    margin: 0 auto;
}