body {
    font-family: 'Roboto', sans-serif;
}


main {
    width: 99vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(40, 40, 40, 0.5);
}

h2 {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;   
    gap: 20px;
    
    list-style: none;
    width: 100%;
    padding-inline-start: 0;
}

li {
    width: 300px;
    border: solid gray 0.5px;
    padding: 20px;
}

.copiedText {
    background-color: #ffe5e5;
}

.loading {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
    margin: 0 auto;
}
.error {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #bc1e1e;
    
    width: fit-content;
    border: solid #bc1e1e 0.5px;
    padding: 10px;
    align-self: center;
}