main {
    width: 99vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-self: center;

    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;

    width: 100%
}

h2 {
    text-align: center;
}

li {
    width: 300px;
    border: solid gray 0.5px;
    padding: 20px;
}